@import url('https://fonts.googleapis.com/css?family=Philosopher');

html,
body {
  margin: 0;
  background:linear-gradient(white,pink);
  font-family: 'Philosopher', sans-serif;
}


/*Changes the logo (Livre le Lit)*/
.navbar-light .navbar-brand {
	color:#3498DB;
	font-size: 40px;
}
.navbar-light .navbar-brand:hover {
	transition: 0.5s ease;
	color:pink;
}
/*Changes the nav bar links*/
.navbar-light .navbar-nav .nav-link {
	color: #3498DB;
	font-size:20px;
}

.navbar-light .navbar-nav .nav-link:hover {
	transition: 0.5s ease;
	color:pink;
}


.row {
	margin-bottom: 2%;
}
/*margin to separate books*/
.col-lg-4 {
	margin-bottom:3%;
}

/*puts space in */
.row p, 
.row h3 {
	margin-left: 3%;
	margin-right: 3%;
}
/*space between title of book and the summary*/
.row p {
	margin-top: 5%;
}


.title {
	margin-bottom: 2%;
}

/*center title of page and the book titles*/
h2,
h3 {
	text-align: center;
}

/*footer is aligned center and changes color when hovered on*/

.footer {
	text-align:center;
	margin-bottom:1%;
}
.footer a {
  text-decoration: none;
  color:#3498DB;
}
.footer a:hover {
  color:black;
  transition: 0.3s ease;
}
