@import url('https://fonts.googleapis.com/css?family=Philosopher');

html,
body {
  margin: 0;
  background-color:pink;
  font-family: 'Philosopher', sans-serif;
}

.navbar a {
	color:#3498DB;
}
a.navbar-brand {
	font-size:40px;
}

a.nav-link {
	font-size: 20px;
}

.row {
	margin-bottom: 2%;
}


.row p, 
.row h3 {
	margin-left: 3%;
	margin-right: 3%;
}

.row p {
	margin-top: 5%;
}


.title {
	margin-bottom: 2%;
}

h2,
h3 {
	text-align: center;
}

.footer {
	text-align:center;
	margin-bottom:1%;
}
.footer a {
  text-decoration: none;
  color:#3498DB;
}
.footer a:hover {
  color:black;
}
