@import url('https://fonts.googleapis.com/css?family=Philosopher');

html,
body {
  margin: 0;
  background:linear-gradient(white,pink);
  font-family: 'Philosopher', sans-serif;
}

/*Changes the logo (Livre le Lit)*/
.navbar-light .navbar-brand {
  color:#3498DB;
  font-size: 40px;
}
.navbar-light .navbar-brand:hover {
  transition: 0.5s ease;
  color:pink;
}
/*Changes the nav bar links*/
.navbar-light .navbar-nav .nav-link {
  color: #3498DB;
  font-size:20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  transition: 0.5s ease;
  color:pink;
}

/*larger next and previous buttons*/
.carousel-control-next-icon,
.carousel-control-prev-icon {
        width:4rem;
        height: 4rem;
}

/*positioning welcome text*/
.WelcomeText {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}


/*positioning small dots*/
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
/*stylizing small dots so that they're pink*/
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: pink;
  border: 1px solid #fff;
  border-radius: 10px;
}

/*footer is centered and turns black when hovered on*/
.footer {
  text-align:center;
  margin-bottom:0%;
}
.footer a {
  text-decoration: none;
  color:#3498DB;
}
.footer a:hover {
  color:black;
  transition: 0.3s ease;
}
