
html,
body {
/*
  margin: 0;
  width: auto;
*/
}

h1{
  text-align: center;
}

div#navbarID {
 /* position: relative;
  left:40%;*/
  float: none;
  position: absolute;
  margin-top:2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
    margin-top:5%;
}

h2, h5 {
    text-align: center;
}

img#phone, video {
    position: absolute;
}
video {
    left:-94;
    margin-top:12;
/*    right:: -300*/
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:45%;
    margin-bottom: 1%;
}

img#facebookIcon, img#linkedinIcon, img#githubIcon {
    margin-right:2%;
}
img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}