
html,
body {
  margin: 0;
  overflow-x:hidden;
  font-family: "Garamond"
}

h1{
  text-align: center;
  font-weight: bold;
}

.container{
/*    margin-top:5%;*/
    padding-bottom: 3%;
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
}

h2, h5 {
    text-align: center;
}

div.row {
    margin-top:2%;
}

button#pricoshaLink{
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    margin-left:50%;
    transform: translateX(-50%);
    background-color: black;
    color:white;
    border:none;
    padding: 1%;
    border-radius:5px;

}

button#pricoshaLink:hover {
    transition-duration: 0.4s;
    background-color: darkgray;
    color:white;
}

p#appDesc {
    margin-top:5%;
}
div.content{
    padding-bottom: 1.5rem;
}
footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center
}
img#linkedinIcon, img#facebookIcon, img#githubIcon{
    padding-left: 15px;
    padding-right: 15px;
}
img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}

div.navbar {
    display: flex;
    justify-content: center;
}
a#navLink {
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color:darkgray;
}
a#navLink:hover {
    transition-duration: 0.3s;
    color: gray;
}
  