.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1{
  text-align: center;
}

div#navbarID {
 /* position: relative;
  left:40%;*/
  float: none;
  position: absolute;
  margin-top:2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Resume page css*/
div#contactInfo {
	text-align: center;
}

div#resumeContainer {
	padding:5%;
}

div#rightContent {
	display: inline;
	float:right;
}

div.container {
	position:relative;
}

div#Skills {
    display: :inline-block;
}
div#subProject {
    padding-bottom:2%;
}
div#rightContent ul {
    margin-bottom:0%;
    font-size: 14px;
    font-style: italic;
}
button#resumeButton {
    display:inline;
    float:right;
    margin-right:0%;
    margin-top:-2%;
    background-color: transparent;
    border:none;
}

footer{
    position: relative;
/*    justify-content: center;*/
    bottom: 0;
    margin-top:1%;
    margin-bottom: 1%;
    left:45%;
    
/*    text-align: center;*/
}
img#facebookIcon, img#linkedinIcon, img#githubIcon {
    margin-right:2%;
}
img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}