html, body{
    width: 100%;
    margin: 0;
/*    body{*/
    overflow-x:hidden;
    font-family: "Garamond"
}


.dropdown:hover .dropdown-content {
  display: block;
}

h1{
  text-align: center;
  font-weight: bold;
}


/*Resume page css*/
div#contactInfo {
	text-align: center;
}

div#resumeContainer {
	padding:5%;
}

div#rightContent {
	display: inline;
	float:right;
}

div.container {
	position:relative;
}

div#Skills {
    display: :inline-block;
}
div#subProject {
    padding-bottom:2%;
}
div#rightContent ul {
    margin-bottom:0%;
    font-size: 14px;
    font-style: italic;
}
button#resumeButton {
    display:inline;
    float:right;
    margin-right:0%;
    margin-top:-2%;
    background-color: transparent;
    border:none;
}
footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center
}
img#linkedinIcon, img#facebookIcon, img#githubIcon{
    padding-left: 15px;
    padding-right: 15px;
}

img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}
div.navbar {
    display: flex;
    justify-content: center;
}
a#navLink {
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color:darkgray;
}
a#navLink:hover {
    transition-duration: 0.3s;
    color: gray;
}