
html,
body {
  margin: 0;
}

h1{
  text-align: center;
}

div#navbarID {
 /* position: relative;
  left:40%;*/
  float: none;
  position: absolute;
  margin-top:2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
    margin-top:5%;
}
.row{
    margin-top:3%;
}
h2,h5 {
    text-align: center;
}

footer{
    position: relative;
/*    justify-content: center;*/
    bottom: 0;
    margin-top:1%;
    margin-bottom: 1%;
    left:45%;
    
/*    text-align: center;*/
}
img#facebookIcon, img#linkedinIcon, img#githubIcon {
    margin-right:2%;
}
img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}