
html,
body {
  margin: 0;
  overflow-x:hidden;
  font-family: "Garamond"
}

h1{
  text-align: center;
  font-weight: bold;
}
div.navbar {
    display: flex;
    justify-content: center;
}
a#navLink {
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color:darkgray;
}
a#navLink:hover {
    transition-duration: 0.3s;
    color: gray;
}
  
.container{
/*    margin-top:5%;*/
/*    padding-bottom: 3%;*/
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
}
.row{
    margin-top:3%;
}
h2,h5 {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center
}

img#linkedinIcon:hover, img#facebookIcon:hover, img#githubIcon:hover {
    transition:.7s;
/*    transform: scale(1.2, 1.2);*/
    opacity: 0.5;
}
img#linkedinIcon, img#facebookIcon, img#githubIcon{
    padding-left: 15px;
    padding-right: 15px;
}